.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.item {
  flex: 1; 
  flex-basis: 350px;
  border: 0px solid rgb(14, 27, 14); 
  position: relative;
  overflow: hidden; 
  
}


.overlay{
  transition: bottom ease 1s; 
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%; 
  background-color: white;
  opacity: .6; 
}

.item:hover .overlay {
  opacity: .6;
  bottom: 0; 
}

@media only screen and (max-width: 600px){
.container {
  flex-direction: column; 
} 
}

img {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  max-width: 95%;
}
h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 { 
  display: block;
  font-size: 1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: black;
}

body {
    background: white;
  
}

