.App {
  text-align: center;
}

.container {
  display: flex; 
}

.item {
  flex: 1; 
  border: 0px solid rgb(14, 27, 14); 
  position: relative;

}

/*flex: 1;
padding: 30px;
border: 1px solid rgb(14, 27, 14); 
position: relative;
width: 250px;  
object-fit: cover;*/



.overlay{
  display: none; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  background-color: green;
  opacity: .5;  
}

.item:hover .overlay {
  display: block; 
}

@media only screen and (max-width: 600px){
.container {
  flex-direction: column; 
} 
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 95%;
}
h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 { 
  display: block;
  font-size: 1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

body {
    background: lightblue;
  
}

